<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace必须和对应的mapper接口的 全限定名 一致 -->
<mapper namespace="io.gitee.hchaojie.mapper.AddressMapper">
    <insert id="insert">
        <selectKey keyProperty="uuid" keyColumn="uuid" resultType="string" order="BEFORE">
            select uuid();
        </selectKey>

        insert into address (uuid, content) value (#{uuid}, #{content});
    </insert>
</mapper>